<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>controller.controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>klantController</servlet-name>
        <servlet-class>controller.klantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bankController</servlet-name>
        <servlet-class>controller.bankController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>klantController</servlet-name>
        <url-pattern>/klantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bankController</servlet-name>
        <url-pattern>/bankController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>GeneralConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>GeneralConstraint</web-resource-name>
            <description/>
            <url-pattern>/klant.jsp</url-pattern>
            <url-pattern>/klantController</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>voor klanten</description>
            <role-name>klant</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>WerknemerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>WerknemerConstraint</web-resource-name>
            <description/>
            <url-pattern>/bankController</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>alleen werknemers</description>
            <role-name>werknemer</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>royco</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>klant</description>
        <role-name>klant</role-name>
    </security-role>
    <security-role>
        <description>werknemer</description>
        <role-name>werknemer</role-name>
    </security-role>
</web-app>
