/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 7:44:47 PM
    Author     : Roy
*/

.flexHorz
{
    display:flex;
    flex-direction: row;
}

.loginDiv
{
    margin: 10px;
}

.logo, .header
{
    height: 106px;
}

.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

div#headerlogo {
    width: 106px;
    float: left;
}

div.accountView {
    top: 10px;
    float: right;
    text-align: right;
}

div.accountLogin {
    margin: 0 auto;
    width: 350px;
    border-radius: 25px;
    padding: 20px;
    background: #73AD21;
}

div#header_center {
    float: right;
    margin-right: 50px;
}

div#header_center div{
    float: left;
    margin-right: 15px;
}

div.accountLogin td{
    text-align: right;
    background: #73AD21;
    width: 100px;
}

table.leningenTable, table.leningenTable thead > tr {
    background-color: lightgray;
}
thead > tr {
    font-weight: bold;
}
tbody > tr {
    background-color: white;
}
td {
    width: 150px;
    text-align: center;
}
.emptyPass::after
{
    content: "wachtwoord mag niet leeg zijn";
    margin-left: 10px; 
}

.differentPass::after
{
    content: "wachtwoord komt niet overeen";
    margin-left: 10px; 
}

.invalidName::after
{
    content: "usernaam mag niet leeg zijn";
    margin-left: 10px; 
}
